.sidebar-content {
  position: fixed;
  top: 50%;
  right: 0;
  height: 385px;
  width: 47px;
  z-index: 999;
  background: url(../../assets/images/sidebar-bg.png);
  border-radius: 3px;
  margin-top: -197.5px;

  & > ul {
    width: 100%;
    text-align: center;
  }

  & > ul > li {
    padding: 5px 0;
  }

  & > ul > li:first-child {
    padding-top: 16px;
  }

  & > ul > li:last-child {
    padding-bottom: 16px;
  }

  & > ul a {
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
  }
}
