@font-face {  
  font-family: 'tw';
  src: url('./fzqkbysjw_gb1_0.ttf');
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'tw2';
  src: url('./NGliuzhiwenkaishu_1.ttf');
  font-weight: normal;  
  font-style: normal;  
}